* 파이썬은 타입을 선언하지 않는다.
* 정수 자료형: int
* 부동소수점(실수): float 또는 double
* 문자열: String

* complex형: 허수부를 포함하는 복소수(실수와 허수를 합친것)

# 주석 종류
'# 한줄 주석
'''
여러줄 주석
'''

## print() 함수는 콘솔에 출력하는 명령입니다.

In [1]:
print('hello world~')

hello world~

## input() 함수는 콘솔로부터 입력을 받는 명령입니다.

In [2]:
name = input("이름은? ")
print('당신의 이름은 : '+name)

이름은? 홍길동
당신의 이름은 : 홍길동

### 반복문

In [3]:
# 1~99까지 7의 배수 찾기
for i in range(1, 100):
    if i %7==0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

### Q. 반지름이 5(cm)인 원의 넓이를 구하려면?

In [4]:
r=int(input("반지름을 입력하세요: "))
areaOfCircle = float(r*r*3.14)
print('=> 반지름이 %d인 원의 넓이는 %0.1f입니다' %(r, areaOfCircle))

반지름을 입력하세요: 5
=> 반지름이 5인 원의 넓이는 78.5입니다

#### type() 함수는 타입 확인
#### id() 함수는 객체의 주소값을 출력

In [5]:
name = '홍길동'
print(type(name))
print (id(name))
age = 30
print (type(age))
print(id(age))
# name과 name2는 값은 같지만 주소는 다르다.
name2='홍길동'
print(id(name2))

<class 'str'>
1458825533936
<class 'int'>
1458739834064
1458825533360

## 사용한 변수 확인 (whos)

In [6]:
whos

Variable       Type     Data/Info
---------------------------------
age            int      30
areaOfCircle   float    78.5
i              int      99
name           str      홍길동
name2          str      홍길동
r              int      5

## 변수 삭제 (del)

In [7]:
del name2

In [8]:
whos

Variable       Type     Data/Info
---------------------------------
age            int      30
areaOfCircle   float    78.5
i              int      99
name           str      홍길동
r              int      5

### 다중 변수 선언

In [9]:
a, b=10,20
print(a , b)

10 20

## 도움말 사용 (help(x))
x: 궁금한 함수

In [10]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## 연산자
    ** 지수
    / 나누기
    // 몫
    % 나머지

In [11]:
4**2

16

## 최근 표현식 변수 : _

In [12]:
a=10
b=20
a+b

30

In [13]:
_

30

In [14]:
c=100
print (c+_)

130

In [15]:
str = '''
aaaa\naaaa
bbbbbbbbbbbbbb
ccccccccc
dddddd
'''
print(str)

aaaa
aaaa
bbbbbbbbbbbbbb
ccccccccc
dddddd

In [16]:
str2 = 'hello world. hi~'
print(str2[4])
print(str2[-1])
print(str2[4:])
print(str2[2:7])
print(str2.index('w'))
print(str2.index('l'))
print(str2[str2.index('w'):str2.index('d')+1])

o
~
o world. hi~
llo w
6
2
world

In [17]:
import re
data = "이름: 홍길동, 주소:\
전화번호: 010-1234-5566, 특징:동해번쩍서해번쩍"
phone_patten =r'[\d]{3,4}-[\d]{4}-[\d]{4}'

## 여러 값을 가질 수 있는 객체
- 튜플() 여러 값을 요소로 가질 수 있는 불변 객체
    - 요소는 다양한 타입이 올 수 있다.
- 리스트[ ] 여러 값을 요소로 가질 수 있는 가변 객체
- 딕쳐너리 { } 키, 값을 쌍으로 갖는 요소를 가질 수 있는 가변 객체

In [26]:
a= True
b=False
print(type(a))
print(type(b))

# a={'student': '학생', 'teacher':'교사'}
a={}
if a:
    print('참')
else:
    print('거짓')

<class 'bool'>
<class 'bool'>
거짓

## format()

In [30]:
print('{}님의 나이는 {}입니다.'.format("홍길동",20))

홍길동님의 나이는 20입니다.

In [32]:
print('출력: {2},{1},{0}'.format(10,20,30))

출력: 30,20,10

## 문자열 길이: len()

In [57]:
len('hello')

5

## 날짜
- datetime.date(year, month, day)
- datetime.time(hour, minute, scond, microsecond, tzingo)
- datetime.datetime(year, month, day, hour, minute, second)

In [70]:
dic = {'student':'학생','teacher':'교사','classroom':'교실'}
# 요소 갯수
print(len(dic))

# entry 가져오기
print(dic.items())

# 키 가져오기
print(dic.keys())

# value 가져오기 
print(dic.values())

# 요소 삭제
print(dic['student'])
del dic['student']
print(dic)
# 요소 (없으면) 추가
dic['student']='학생'
print(dic)
# 요소 (있으면) 수정
dic['student']='학생2'
print(dic)

3
dict_items([('student', '학생'), ('teacher', '교사'), ('classroom', '교실')])
dict_keys(['student', 'teacher', 'classroom'])
dict_values(['학생', '교사', '교실'])
학생
{'teacher': '교사', 'classroom': '교실'}
{'teacher': '교사', 'classroom': '교실', 'student': '학생'}
{'teacher': '교사', 'classroom': '교실', 'student': '학생2'}

## 셋 만들기
    - 순서가 정해지지 않고, 중복을 허용하지 않는 집합
    - 중괄호('{','}')를 이용하여 정의
    
    * 추가: add

## ex) 중첩 루프문 이용해서 구구단 출력하기

In [77]:
for i in range(1,10):
    for j in range(2,10):
        print("{}X{}={:>2}".format(j,i,i*j), end=' ')
    print()

2X1= 2 3X1= 3 4X1= 4 5X1= 5 6X1= 6 7X1= 7 8X1= 8 9X1= 9
2X2= 4 3X2= 6 4X2= 8 5X2=10 6X2=12 7X2=14 8X2=16 9X2=18
2X3= 6 3X3= 9 4X3=12 5X3=15 6X3=18 7X3=21 8X3=24 9X3=27
2X4= 8 3X4=12 4X4=16 5X4=20 6X4=24 7X4=28 8X4=32 9X4=36
2X5=10 3X5=15 4X5=20 5X5=25 6X5=30 7X5=35 8X5=40 9X5=45
2X6=12 3X6=18 4X6=24 5X6=30 6X6=36 7X6=42 8X6=48 9X6=54
2X7=14 3X7=21 4X7=28 5X7=35 6X7=42 7X7=49 8X7=56 9X7=63
2X8=16 3X8=24 4X8=32 5X8=40 6X8=48 7X8=56 8X8=64 9X8=72
2X9=18 3X9=27 4X9=36 5X9=45 6X9=54 7X9=63 8X9=72 9X9=81

In [79]:
def add(num1, num2):
    print(num1+num2)
add(10,20)

30

In [96]:
def add2(num1, num2):
    '''
        매개값을 2개 받아 합을 구하는 함수
    '''
    return num1 + num2;
sum=add2(10,20)
print(sum)

30

In [97]:
print(add2.__doc__)

        매개값을 2개 받아 합을 구하는 함수

In [88]:
add3 = lambda x,y: x+y
print(add3(10,20))

30

In [98]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [101]:
i=5
def func2(arg=i):
    print(arg)
    
i=6
func2(i)

6

In [103]:
def func4(a, L=None):
    if L is None:
        L=[]
    L.append(a)
    return L

list_=[]

func4(10,list_)

[10]

In [104]:
func4(20,L=list_)

[10, 20]

## 가변인수
    - 매개변수

In [107]:
def add10(* args):
    sum=0
    for ele in args:
        sum+=ele
    return sum

print(add10(10,20))
print(add10(10,20,30))
print(add10(10,20,30,40))

30
60
100